{% extends 'base.html' %}
{% block content %}
	<style>
		.pageheaderdiv{
			overflow: hidden;
  			background-color: #3498db;
 			padding: 0px 0px;
  			width: 100%;
  			height: 75px;
  			border-spacing: 0px 5px;
		}

		.pagetitle{
			font-family: Helvetica, sans-serif;
			font-size: 30px;
			text-align: left;
			color: white;
			padding-left: 5px;
		}
		</style>
	<div class = "pageheaderdiv">
		<h1 class = "pagetitle">About Us</h1>
	</div>
	
	<p style = "font-family: Helvetica, sans-serif; font-size: 18px; text-align: center; padding: 100px;"> Students are notorious for always saying: "I haven't got enough money" or "Could you pay for this for me and I'll pay you back?". As being former students ourselves we realise that there isn't an easy way for students to manage their money to be able to pay for rent, bills, university fees and the odd night out. That's why we made Student Saver. An all in one place money management piece of software wizardry designed especially for students. It accomodates student loans, bills, university fees and even money from the bank of Mum and Dad. All in the hope that it will allow you to see how much money you actually can afford to spend and to help students everywhere budget for a better tomorrow </p>
{% endblock %}

